<!-- Nav Bar -->
  <div id="divHeaderWrapper">
    <header class="header-standard-2">
      <!-- MAIN NAV -->
      <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars icon-custom"></i>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/sverica-logo.png" class="navbar-brand-logo" alt="Sverica Capital Partners">
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden-md hidden-lg">
                <div class="bg-light-gray">
                  <form class="form-horizontal form-light p-15" role="form">
                    <div class="input-group input-group-lg">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                          <button class="btn btn-white" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                    </div>
                  </form>
                </div>
              </li>
              <li class="dropdown">
                <a href="views/approach.html" class="dropdown-toggle" data-toggle="dropdown">About</a>
                <ul class="dropdown-menu">

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Overview</a>
                    <ul class="dropdown-menu" style="display: none;">
                      <li><a tabindex="-1" href="overview-1.html">Option 1</a>
                      </li>
                      <li><a tabindex="-1" href="overview-2.html">Option 2</a>
                      </li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Responsibility</a>
                    <ul class="dropdown-menu" style="display: none;">
                      <li><a tabindex="-1" href="responsibility-1.html">Option 1</a>
                      </li>
                      <li><a tabindex="-1" href="responsibility-2.html">Option 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="timeline.html">Option 3</a>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Option 4</a>
                    <ul class="dropdown-menu">
                      <li class="divider">Medical Devices</li>
                      <li><a tabindex="-1" href="homepage-magazine-1.html">Company 1</a>
                      </li>
                      <li><a tabindex="-1" href="magazine-listing-1.html">Company 2</a>
                      </li>

                      <li class="divider">Technology</li>
                      <li><a tabindex="-1" href="homepage-magazine-1.html">Company 3</a>
                      </li>
                      <li><a tabindex="-1" href="magazine-listing-1.html">Company 4</a>
                      </li>
                      <li><a tabindex="-1" href="magazine-listing-1.html">Company 5</a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="views/team.html" class="dropdown-toggle" data-toggle="dropdown">Team</a>
                <ul class="dropdown-menu">
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="views/portfolio.html" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="views/news.html" class="dropdown-toggle" data-toggle="dropdown">News</a>
                <ul class="dropdown-menu">
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="views/contact.html">Contact Us</a>
              </li>

            </ul>

          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </header>
  </div>



<!-- FULL BLEED BACKGROUNDS  -->
  <section class="relative bg-white bb animate-hover-slide">
    
      
      
    <div id="carouselWork" class="carousel carousel-3 slide">

      <!-- Wrapper for slides -->
      <div class="carousel-inner main-bg-img">
        

        <div class="item active">
          <div class="row">
            <!-- White opaque box -->
            <div class="white-opaque-text-box">
              <div class="center box-content-offset">
                <h1 class="box-header">
                  Sverica
                </h1>
                <p class="box-content">
                  A trusted private equity firm with $425 million in investment capital known for its active in creating and executing growth strategies.
                </p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="wp-block inverse">
                <div class="figure">
                  <img alt="" src="/app/assets/images/backgrounds/bg-full-boston.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <!-- White opaque box -->
            <div class="white-opaque-text-box">
              <div class="center box-content-offset">
                <h1 class="box-header ">
                  Distinctive
                </h1>
                <p class="box-content">
                  We invest in brands that are uniquely positioned for growth.
                </p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="wp-block inverse">
                <div class="figure">
                  <img alt="" src="/app/assets/images/backgrounds/bg-full-san-fran.jpg" class="img-responsive">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        

      <div class="carousel-nav container">
        <a data-slide="prev" class="carousel-btn-big-img left center offset-left" href="#carouselWork"><i class="fa fa-angle-left"></i></a>
        <a data-slide="next" class="carousel-btn-big-img right center offset-right" href="#carouselWork"><i class="fa fa-angle-right"></i></a>
      </div> 

      </div>
    </div>
  </section>


<!-- OPERATIONAL EXPERTISE -->
  <section class="slice bg-grey bb ops-expertise-container">
    <div class="wp-section">
      <div class="container">
        <div class="section-title-wr">
          <span class="expertise-description">
            <h2 class="section-title center">Operational Expertise</h2>
            <h5>
              Offering strategic insights based on proven success, our expertise is customizable and impactful.
            </h5>
            <p><a href="#">VIEW OUR APPROACH</a></p>
            <div class="double-padding"></div>
          </span>


          <div class="row">
            <div class="col-md-4">
              <div class="ops_exp_box middle-left">
                <img src="assets/images/icon-home-agility.png"class="center-block">
                <span class="text-center double-line-height">
                  <h3>STRATEGIC VISION</h3>
                  <h5>With proven success in the consumer sector, we help entrepreneurial companies propel growth.</h5>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ops_exp_box middle">
                <img src="assets/images/icon-home-agility.png"class="center-block ">
                <span class="text-center double-line-height">
                  <h3>INTELLECTUAL AGILITY</h3>
                  <h5>We leverage our core expertise and unique resources to identify and build upon opportunities.</h5>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ops_exp_box middle-right">
                <img src="assets/images/icon-home-agility.png"class="center-block ">
                <span class="text-center double-line-height">
                  <h3>DISCIPLINED FOCUS</h3>
                  <h5>Grounded by our shared experience and operational skill sets, we lead with focus.</h5>
                </span>
              </div>
            </div>
            

          </div>

        </div>
      </div>
    </div>
  </section>


<!-- BUSINESS SECTORS -->
    <!-- %% class = base gives the blue background and the white text -->
  <section class="slice relative bg-white bb animate-hover-slide">
    <div class="wp-section">
      <div class="container">
        <div class="section-title-wr">
          <h3 class="section-title left"><span>Business Sectors</span></h3>
        </div>

        <div id="carouselWork" class="carousel carousel-3 slide animate-hover-slide">
        

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-1.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2 class="text-left">Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-2.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-3.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-4.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-5.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-6.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-7.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-8.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- NEWS -->
    <!-- %% class = base gives the blue background and the white text -->
  <section class="slice bg-light-blue">
    
      <div class="container">
      
        <div class="row">

          <div class="col-md-4">
            <h5 class="news-date">December 30, 2014</h5>
              
            <h3><a href"#" class="news-link">Martin J. Mannion Receives HCPEA Lifetime Achievement Award</a></h3>
              
          </div>
        
          <div class="col-md-4">
            <h5 class="news_date">November 30, 2014</h5>
            <h3><a href"#" class="news-link">Advance Health Raises Growth Equity</a></h3>
          </div>
        
          <div class="col-md-4">
            <h5 class="news_date">October 30, 2014</h5>
            <h3><a href"#" class="news-link">Summit Partners Announces Three Promotions</a></h3>
          </div>

        </div>

      <div class="row">
        <a href="#" class="btn btn-lg btn-b-white btn-news pull-right">All News > </a>
      </div>

       </div>
    
  </section>


<!-- TEAM -->
  <section class="slice bg-white bb animate-hover-slide-3">
    <div class="wp-section">
      <div class="container">
        <div class="section-title-wr">
          <h3 class="section-title left"><span>Our Team</span></h3>
        </div>


        <div class="row">
          
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-sm-1">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul>
                    <li class="text pull-left employee-name">Greg Hylant</li>
                  <ul>
                  <ul class="social-icons text-right">
                    <li class="text profession pull-left">Analyst</li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
     

        </div>


      </div>
    </div>
  </section>


<!-- OFFICES -->
  <section class="slice relative bg-white bb animate-hover-slide">
    <div class="wp-section">
      <div class="container">
        <div class="section-title-wr">
          <h2 class="section-title pull-left"><span>Offices</span></h2>
        </div>

        
          
        <!-- Office Tiles Start -->
          <div class="item active">
            <div class="row">
              <div class="col-md-6 pull-left">
                <div class="wp-block inverse">
                  <div class="figure">
                    <img alt="" src="assets/images/boston-office-tile.jpg" class="img-responsive">
                    <div class="figcaption bg-base">
                      <h3 class="office-city">Boston</h3>
                      <small>
                        <pre class='bg-base center'>
Prudential Tower
800 Boylston St, Ste 3325
Boston, MA 02199
Tel +1 617 695 0221
Fax +1 617 236 0110
                        </pre>
                      </small>
                    </div>
                    
                    <div class="figcaption-btn">
                       <a href="mailto:boston@sverica.com" class="btn btn-b-white">Contact Us</a> 
                          <!-- %% correct email address -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="wp-block inverse">
                  <div class="figure">
                    <img alt="" src="assets/images/san-fran-bridge.jpg" class="img-responsive">
                    <div class="figcaption bg-base">
                      <h3 class="office-city">San Francisco</h3>
                      <small>
                        <pre class='bg-base center'>
44 Montgomery St, Ste 3000
San Francisco, CA 94104
Tel +1 415 249 4900
Fax +1 415 249 4901
                        </pre>
                      </small>
                    </div>
                    
                    <div class="figcaption-btn">
                       <a href="mailto:sf@sverica.com" class="btn btn-b-white">Contact Us</a> 
                          <!-- %% correct email address -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        <!-- Office Tiles End -->

        
      </div>
    </div>
  </section>


  






  




  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="col">
            <h4>Contact us</h4>
            <ul>
              <li>Prudential Tower</li>
              <li>800 Boylston Street - Suite 3325</li>
              <li>Boston, MA 02199</li>
              <li><strong>Phone:</strong> +1 617 695 0221 | <strong>Fax:</strong> +1 617 236 0110 </li>
              <li>Email: <a href="mailto:greg@sverica.com" title="Email Us">greg@sverica.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col">
            <h4>Sign up for the Sverica Newsletter.</h4>
            <form class="form-horizontal form-light">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Your email address...">
                <span class="input-group-btn">
                  <button class="btn btn-base" type="button">Go!</button>
                </span>
              </div>
            </form>
          </div>
        </div>


      </div>

      <hr>

      <div class="row">
        <div class="col-lg-9 copyright">
          ©2011 Sverica International, All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>



