<!-- Nav Bar -->
  <div id="divHeaderWrapper">
    <header class="header-standard-2">
      <!-- MAIN NAV -->
      <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars icon-custom"></i>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/sverica-logo.png" alt="Sverica Capital Partners">
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden-md hidden-lg">
                <div class="bg-light-gray">
                  <form class="form-horizontal form-light p-15" role="form">
                    <div class="input-group input-group-lg">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                          <button class="btn btn-white" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                    </div>
                  </form>
                </div>
              </li>
              <li class="dropdown">
                <a href="views/approach.html" class="dropdown-toggle" data-toggle="dropdown">About</a>
                <ul class="dropdown-menu">

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Overview</a>
                    <ul class="dropdown-menu" style="display: none;">
                      <li><a tabindex="-1" href="overview-1.html">Option 1</a>
                      </li>
                      <li><a tabindex="-1" href="overview-2.html">Option 2</a>
                      </li>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Responsibility</a>
                    <ul class="dropdown-menu" style="display: none;">
                      <li><a tabindex="-1" href="responsibility-1.html">Option 1</a>
                      </li>
                      <li><a tabindex="-1" href="responsibility-2.html">Option 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="timeline.html">Option 3</a>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Option 4</a>
                    <ul class="dropdown-menu">
                      <li class="divider">Medical Devices</li>
                      <li><a tabindex="-1" href="homepage-magazine-1.html">Company 1</a>
                      </li>
                      <li><a tabindex="-1" href="magazine-listing-1.html">Company 2</a>
                      </li>

                      <li class="divider">Technology</li>
                      <li><a tabindex="-1" href="homepage-magazine-1.html">Company 3</a>
                      </li>
                      <li><a tabindex="-1" href="magazine-listing-1.html">Company 4</a>
                      </li>
                      <li><a tabindex="-1" href="magazine-listing-1.html">Company 5</a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="views/team.html" class="dropdown-toggle" data-toggle="dropdown">Team</a>
                <ul class="dropdown-menu">
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="views/portfolio.html" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="views/news.html" class="dropdown-toggle" data-toggle="dropdown">News</a>
                <ul class="dropdown-menu">
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                  <li><a href="timeline.html">Basic Dropdown</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="views/contact.html">Contact Us</a>
              </li>

            </ul>

          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </header>
  </div>



<a class="ls-nav-prev" href="#" style="visibility: visible; display: none;"></a>
<a class="ls-nav-next" href="#" style="visibility: visible; display: none;"></a>


<!-- FULL BLEED BACKGROUNDS  -->
  <section class="relative bg-white bb animate-hover-slide">
    <div class="wp-section">
      
      
      <div id="carouselWork" class="carousel carousel-3 slide">

        <!-- Wrapper for slides -->
        <div class="carousel-inner main-bg-img">
          <!-- White opaque box -->
          <div class="white-opaque-text-box">
            <h1 class="box-header">
              Welcome to Sverica
            </h1>
            <p class="box-content">
              How can we help you today?
            </p>

            
          </div>


          <div class="item active">
            <div class="row">
              <div class="col-md-12">
                <div class="wp-block inverse">
                  <div class="figure">
                    <img alt="" src="/app/assets/images/backgrounds/bg-full-boston.jpg" class="img-responsive">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-12">
                <div class="wp-block inverse">
                  <div class="figure">
                    <img alt="" src="/app/assets/images/backgrounds/bg-full-san-fran.jpg" class="img-responsive">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="carousel-nav container">
        <a data-slide="prev" class="carousel-btn-big-img left center offset-left" href="#carouselWork"><i class="fa fa-angle-left"></i></a>
        <a data-slide="next" class="carousel-btn-big-img right center offset-right" href="#carouselWork"><i class="fa fa-angle-right"></i></a>
      </div> 

        
      </div>
    </div>
  </section>


<!-- <h3>
            Welcome to Sverica
          </h3>
          <h3>
            High Touch • High Performance
          </h3>

          <h3>
            Sverica is a premier private equity firm with $425 million in investment capital that takes an active role with its partners to create and execute growth strategies.
          </h3>
         -->


<!-- BUSINESS SECTORS -->
    <!-- %% class = base gives the blue background and the white text -->
  <section class="slice relative bg-white bb animate-hover-slide">
    <div class="wp-section">
      <div class="container">
        <div class="section-title-wr">
          <h3 class="section-title left"><span>Business Sectors</span></h3>
        </div>

        <div id="carouselWork" class="carousel carousel-3 slide animate-hover-slide">
        

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-1.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2 class="text-left">Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-2.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-3.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-4.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-5.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-6.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-7.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="wp-block inverse">
                    <div class="figure">
                      <img alt="" src="assets/images/prv/wk-img-8.jpg" class="img-responsive">
                      <div class="figcaption bg-base"></div>
                      <div class="figcaption-btn">
                        <a href="#" class="btn btn-xs btn-b-white"> View</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-9">
                        <h2>Company XYZ</h2>
                        <small>ABC Industry</small>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- OPERATIONAL EXPERTISE -->
  <!-- %% TO ADD -->


<!-- TEAM -->
  <section class="slice bg-white bb animate-hover-slide-3">
    <div class="wp-section">
      <div class="container">
        <div class="section-title-wr">
          <h3 class="section-title left"><span>Our Team</span></h3>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-5.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul class="social-icons text-right">
                    <li class="text pull-left">More on:</li>
                    
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <h2>Greg Hylant<small>CEO</small></h2>
              <p>
                Duke University Alum.
              </p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-3.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul class="social-icons text-right">
                    <li class="text pull-left">More on:</li>
                    
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <h2>John Doe<small>Product Manager</small></h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus.
              </p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-1.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul class="social-icons text-right">
                    <li class="text pull-left">More on:</li>
                    
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <h2>Derek Shepard<small>Web Developer</small></h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus.
              </p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="wp-block inverse">
              <div class="figure">
                <img alt="" src="assets/images/prv/team/team-corporate-2.jpg" class="img-responsive">
                <div class="figcaption">
                  <ul class="social-icons text-right">
                    <li class="text pull-left">More on:</li>
                    
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <h2>Mark Sloan<small>Team Builder</small></h2>
              <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- NEWS -->
    <!-- %% class = base gives the blue background and the white text -->
  <section class="slice animate-hover-slide bg-white">
    <div class="wp-section">
      <div class="container">
        <div class="section-title-wr">
          <h3 class="section-title left"><span>Latest news</span></h3>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="wp-block article grid">
              <div class="article-image">
                <img src="assets/images/prv/magazine/magazine-small-1.jpg" alt="">
                <h4 class="image-title base">Must read</h4>
              </div>
              <span class="article-category">Business news</span>
              <h3 class="title">
                <a href="">Fortitor Posuere &amp; Praesent Metus Ins</a>
              </h3>
              <p>
                Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt ut amat volutpat aliquam erat are esrseiiqetuer.
              </p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <div class="wp-block article list">
                  <div class="article-image">
                    <img src="assets/images/prv/magazine/magazine-small-2.jpg" alt="">
                  </div>
                  <div class="wp-block-body">
                    <h3 class="title">
                      <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                    </h3>
                    <p>
                      Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="wp-block article list">
                  <div class="article-image">
                    <img src="assets/images/prv/magazine/magazine-small-3.jpg" alt="">
                  </div>
                  <div class="wp-block-body">
                    <h3 class="title">
                      <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                    </h3>
                    <p>
                      Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="wp-block article list">
                  <div class="article-image">
                    <img src="assets/images/prv/magazine/magazine-small-4.jpg" alt="">
                  </div>
                  <div class="wp-block-body">
                    <h3 class="title">
                      <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                     </h3>
                    <p>
                      Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="wp-block article list">
                  <div class="article-image">
                    <img src="assets/images/prv/magazine/magazine-small-5.jpg" alt="">
                  </div>
                  <div class="wp-block-body">
                    <h3 class="title">
                      <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                     </h3>
                    <p>
                      Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="wp-block article list">
                  <div class="article-image">
                    <img src="assets/images/prv/magazine/magazine-small-6.jpg" alt="">
                  </div>
                  <div class="wp-block-body">
                    <h3 class="title">
                      <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                    </h3>
                    <p>
                      Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="wp-block article list">
                  <div class="article-image">
                    <img src="assets/images/prv/magazine/magazine-small-7.jpg" alt="">
                  </div>
                  <div class="wp-block-body">
                    <h3 class="title">
                                            <a href="" hidefocus="true">Lorem ipsum dolor sit ...</a>
                                        </h3>
                    <p>
                      Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- OFFICES -->
  <section class="slice relative bg-white bb animate-hover-slide">
    <div class="wp-section">
      <div class="container">
        <div class="section-title-wr">
          <h3 class="section-title left"><span>Offices</span></h3>
        </div>

        
          
        <!-- Office Tiles Start -->
          <div class="item active">
            <div class="row">
              <div class="col-md-5">
                <div class="wp-block inverse">
                  <div class="figure">
                    <img alt="" src="assets/images/boston-office-tile.jpg" class="img-responsive">
                    <div class="figcaption bg-base">
                      <h4 class="office-city">Boston</h4>
                      <small>
                        <pre class='bg-base center'>
Prudential Tower
800 Boylston St, Ste 3325
Boston, MA 02199
Tel +1 617 695 0221
Fax +1 617 236 0110
                        </pre>
                      </small>
                    </div>
                    
                    <div class="figcaption-btn">
                       <a href="mailto:boston@sverica.com" class="btn btn-b-white">Contact Us</a> 
                          <!-- %% correct email address -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="wp-block inverse">
                  <div class="figure">
                    <img alt="" src="assets/images/san-fran-bridge.jpg" class="img-responsive">
                    <div class="figcaption bg-base">
                      <h4 class="office-city">San Francisco</h4>
                      <small>
                        <pre class='bg-base center'>
44 Montgomery St, Ste 3000
San Francisco, CA 94104
Tel +1 415 249 4900
Fax +1 415 249 4901
                        </pre>
                      </small>
                    </div>
                    
                    <div class="figcaption-btn">
                       <a href="mailto:sf@sverica.com" class="btn btn-b-white">Contact Us</a> 
                          <!-- %% correct email address -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        <!-- Office Tiles End -->

        
      </div>
    </div>
  </section>


  






  




  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="col">
            <h4>Contact us</h4>
            <ul>
              <li>Prudential Tower</li>
              <li>800 Boylston Street - Suite 3325</li>
              <li>Boston, MA 02199</li>
              <li><strong>Phone:</strong> +1 617 695 0221 | <strong>Fax:</strong> +1 617 236 0110 </li>
              <li>Email: <a href="mailto:greg@sverica.com" title="Email Us">greg@sverica.com</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col">
            <h4>Sign up for the Sverica Newsletter.</h4>
            <form class="form-horizontal form-light">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Your email address...">
                <span class="input-group-btn">
                  <button class="btn btn-base" type="button">Go!</button>
                </span>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col col-social-icons">
            <br>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </div>
        </div>

      </div>

      <hr>

      <div class="row">
        <div class="col-lg-9 copyright">
          ©2011 Sverica International, All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>

<!-- Initializing the slider -->
<script>
jQuery("#layerslider").layerSlider({
  pauseOnHover: true,
  autoPlayVideos: false,
  skinsPath: 'assets/images/layerslider_skins/',
  responsive: false,
  responsiveUnder: 1280,
  layersContainer: 1280,
  skin: 'borderlessdark3d',
  hoverPrevNext: true,
});
</script>
